html, body {
    height: 100%;
    margin: 0;  
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    min-height: 100vh; /* Ensures full height */
}

.header {
    display: flex;  
    justify-content: center;
    background-color: lightcoral;
}

.footer {

    display: flex;
    justify-content: center;
    background-color: lightcoral;   
}

.player-option-container {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 46px;
}

.option-buttons {

    padding: 20px;
    width: 10vh;
    text-align: center;
    display: flex;
    justify-content: center;
}

.main-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}